@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Parastoo;
        src: url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot');
        src: url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo.eot?#iefix') format('embedded-opentype'),
             url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo.woff') format('woff'),
             url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo.ttf') format('truetype');
        font-weight: normal;
      }
      
      @font-face {
        font-family: Parastoo;
        src: url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot');
        src: url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
             url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.woff') format('woff'),
             url('./assets/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.ttf') format('truetype');
        font-weight: bold;

}
}